{% extends 'baseacara.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>

<div class="col-lg-6">

    <div class="form">
      
      <h4>Form Login</h4>
      <form action="" method="post" role="form" class="contactForm">
        <div class="form-group">
          <input type="text" name="name" class="form-control" id="name" placeholder="No KTP" data-rule="minlen:4" data-msg="Masukan no KTP" />
          <div class="validation"></div>
        </div>
        <div class="form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Email" data-rule="minlen:4" data-msg="Masukan Email" />
            <div class="validation"></div>
          </div>

		<button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Login</button>
                  <div class="text-center">
                    <a class="small" href="{% url 'user:registerAnggota' %}">SIGN UP Anggota</a><br>
					<a class="small" href="{% url 'user:registerPetugas' %}">SIGN UP Petugas</a></div>
					
		</form>

    {% endblock content %}