{% extends 'baseacara.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>

<div class="col-lg-6">

    <div class="form">
      
      <h4>Form Pendaftaran Pengguna</h4>
      <form action="/User/registerAnggota/" method="POST" role="form" class="contactForm">
	  {% csrf_token %}
        <div class="form-group">
          <input type="text" name="ktp" class="form-control" id="ktp" placeholder="No KTP" data-rule="minlen:4" data-msg="Masukan no KTP" />
          <div class="validation"></div>
        </div>
        <div class="form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Nama Lengkap" data-rule="minlen:4" data-msg="Masukan Nama Lengkap" />
            <div class="validation"></div>
          </div>
		<div class="form-group">
          <input type="text" name="email" class="form-control" id="email" placeholder="Email" data-rule="minlen:4" data-msg="Masukan Email" />
          <div class="validation"></div>
        </div>
		<div class="form-group">
          <input type="text" name="ttl" class="form-control" id="ttl" placeholder="Tanggal Lahir" data-rule="minlen:4" data-msg="Masukan Tanggal lahir" />
          <div class="validation"></div>
        </div>
		<div class="form-group">
          <input type="text" name="notlp" class="form-control" id="notlp" placeholder="No Telepon" data-rule="minlen:4" data-msg="Masukan No telepon" />
          <div class="validation"></div>
        </div>
		<div class="form-group">
          <input type="text" name="alamat" class="form-control" id="alamat" placeholder="Alamat" data-rule="minlen:4" data-msg="Masukan Alamat" />
          <div class="validation"></div>
        </div>
		
		<button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign Up</button>
		
		</form>
    

    {% endblock content %}