{% extends 'basepenugasan.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>

<div class="col-lg-6">

    <div class="form">
      <h4>Daftarkan Penugasan</h4>
      <form action="" method="post" role="form" class="contactForm">
        <label for="country">Petugas</label>
          <select id="country" name="country">
            <option value="iya">suki</option>
            <option value="tidak">min</option>
          </select>
        <div class="form-group">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Tanggal Mulai" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
          <div class="validation"></div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Tanggal Selesai" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validation"></div>
          </div>
        <form action="/action_page.php">
            <select name="cars" multiple>
              <option value="volvo">pocin</option>
              <option value="saab">kutek</option>
              <option value="opel">fh</option>
              <option value="audi">balairung</option>
            </select>
            <!-- <input type="submit"> -->
            </form>
            
            <p>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>
        

        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>

        <div class="text-center"><a type="submit" title="Send Message" href ="\penugasan\list">Send Message</a></div>
      </form>
    </div>


    

    {% endblock content %}