{% extends 'baseacara.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>

<div class="col-lg-6">

    <div class="form">
      
      <h4>Daftarkan Acara</h4>
      <form action="/acara/post-acara/" method="post" role="form" class="contactForm">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" name="name" class="form-control" id="name" placeholder="Judul" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
          <div class="validation"></div>
        </div>
        <div class="form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Deskripsi" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
            <div class="validation"></div>
          </div>
        <label for="country">Gratis</label>
          <select id="country" name="country">
            <option >iya</option>
            <option >tidak</option>
          </select>
        <div class="form-group">
          <input type="date" class="form-control" name="subject" id="subject" placeholder="Tanggal Mulai" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
          <div class="validation"></div>
        </div>
        <div class="form-group">
            <input type="date" class="form-control" name="subject" id="subject" placeholder="Tanggal Selesai" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validation"></div>
          </div>
          <label>Stasiun</label>
          <div class="form-label-group">

              <select name="stasiun" id="inputStasiun" class="form-control selectpicker"placeholder="Stasiun"required  multiple data-live-search="true" >
                {% for i in stasiun %}
                  <option>{{i.0}}</option>
                {% endfor %}
              </select>
          </div>

            
            <p>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>
        

        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>

        <div class="text-center"><a type="submit" title="Send Message" href ="\acara\list">Send Message</a></div>
      </form>
      <script>
        $('select').selectpicker();
      </script>
  
    </div>


    

    {% endblock content %}