{% extends 'baseacara.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>

<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Judul</th>
        <th scope="col">Deskripsi</th>
        <th scope="col">Tanggal Mulai</th>
        <th scope="col">Tanggal Akhir</th>
        <th scope="col">Gretong</th>
        <th scope="col">Action(Admin Only)</th>
      </tr>
    </thead>
    <tbody>
      {% for i in acara %}
        <tr>
          <th scope="row">{{i.0}}</th>
          <th>{{i.1}}</th>
          <td>{{i.2}}</td>
          <td>{{i.3}}</td>
          <td>{{i.4}}</td>
          <td>{{i.5}}</td>
          <td><button type="button" class="btn btn-primary disabled" >Update</button><button type="button" class="btn btn-primary disabled" >Delete</button> </td>
                              
          </tr>
        {% endfor %}

    </tbody>
  </table>



{% endblock content %}