{% extends 'basestasiun.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>

<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Nama Stasiun</th>
        <th scope="col">Alamat</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
        <th scope="col">Action(Admin Only)</th>
        
      </tr>
    </thead>
    <tbody>
      {% for i in stasiun %}
      <tr>
          <th scope="row">{{i.0}}</th>
          <th>{{i.1}}</th>
          <td>{{i.2}}</td>
          <td>{{i.4}}</td>
          <td>{{i.3}}</td>
          <td>{{i.5}}</td>
        <td>
            <button type="button" class="btn btn-primary disabled" >Update</button> OR <button type="button" class="btn btn-primary disabled" >Delete</button>
        </td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>



{% endblock content %}