{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Daftar Voucher</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'bootstrap/Rapid/img/title.jpg' %}" rel="icon">
  <link href="{% static 'bootstrap/Rapid/img/title.jpg' %}" rel="apple-touch-icon">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'bootstrap/Rapid/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'bootstrap/Rapid/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap/Rapid/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap/Rapid/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap/Rapid/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap/Rapid/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">


  <!-- Main Stylesheet File -->
  <link href="{% static 'bootstrap/Rapid/css/style.css' %}" rel="stylesheet">


  <!-- =======================================================
    Theme Name: Rapid
    Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header">

    <div id="topbar">
      <div class="container">
        <div class="social-links">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="/" class="scrollto"><span>Bike Sharing</span></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/#about">About Us</a></li>
          <li><a href="{% url 'user:login' %}">Login</a></li>
          <li><a href="/#team">Team</a></li>
          <li class="drop-down"><a href="/#services">Kegiatan Bike Sharing</a>
            <ul>
              <li class="drop-down"><a href="#">Transaksi</a>
                <ul>
                  <li><a href="{% url 'transaksi:topup' %}">Top Up</a></li>
                  <li><a href="{% url 'transaksi:laporan' %}">Daftar laporan</a></li>
        				  <li><a href="{% url 'transaksi:transaksi' %}">Riwayat Transaksi</a></li>
                </ul>
              </li>
              <li class="drop-down"><a href="#">Acara</a>
                <ul>
                  <li><a href="/acara/create">Create</a></li>
                  <li><a href="/acara/list">List of event</a></li>
                </ul>
              </li>
              <li class="drop-down"><a href="#">Penugasan</a>
                <ul>
                  <li><a href="/penugasan/create">Create</a></li>
                  <li><a href="/penugasan/list">List of duties</a></li>
                </ul>
              </li>
              <li class="drop-down"><a href="#">Sepeda</a>
                <ul>
                  <li><a href="/sepeda/create">Create</a></li>
                  <li><a href="/sepeda/list">List of bike</a></li>
                </ul>
              </li>
              <li class="drop-down"><a href="#">Stasiun</a>
                <ul>
                  <li><a href="/stasiun/create">Create</a></li>
                  <li><a href="/stasiun/list">List of station</a></li>
                </ul>
              </li>
              <li class="drop-down"><a href="#">Voucher</a>
                <ul>
                  <li><a href="/voucher/add">Add voucher</a></li>
                  <li><a href="/voucher/update">Update voucher</a></li>
                  <li><a href="/voucher/dafcer">List voucher</a></li>
                </ul>
              </li>
              <li class="drop-down"><a href="#">Peminjaman</a>
                <ul>
                  <li><a href="/voucher/pinjam">Peminjaman</a></li>
                  <li><a href="/voucher/dafjem">List of peminjaman</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/#footer">Contact Us</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<br><br><br><br><br>
<h4>Daftar Voucher</h4>
<br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id voucher</th>
      <th scope="col">Nama</th>
      <th scope="col">kategori</th>
      <th scope="col">Nilai poin</th>
      <th scope="col">Deskripsi</th>
      <th scope="col">Diklaim oleh</th>
      <th scope="col">Action (admin)</th>
      <th scope="col">Action (anggota)</th>
    </tr>
  </thead>
  <tbody>
    {% for i in voucher %}
    <tr>
        <th scope="row">{{i.0}}</th>
        <th>{{i.1}}</th>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td>{{i.6}}</td>
      <td>
            <button type="button" class="btn btn-primary disabled" >Update</button> OR <button type="button" class="btn btn-primary disabled" >Delete</button>
        </td>
        <td>
                <button type="button" class="btn btn-primary disabled" >Klaim</button>
            </td>
    </tr>
    {% endfor %}
  </tbody>
</table>