{% extends 'baseacara.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1>Daftar Laporan</h1>
            <br>
                <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">No</th>
                            <th scope="col">Id Laporan</th>
                            <th scope="col">Tanggal Peminjaman</th>
                            <th scope="col">Anggota</th>
							<th scope="col">Denda</th>
							<th scope="col">Status</th>
							<th scope="col"></th>
                          </tr>
                        </thead>
						<tbody>
						{% for i in laporan %}
                          <tr>
                      
                            <td>{{i.0}}</td>
                            <td>{{i.1}}</td>
                            <td>{{i.2}}</td>
                            <td>{{i.3}} </td>
                            <td>{{i.4}}</td>
							<td>{{i.5}}</td>
                          </tr>
						  {% endfor %}
                        </tbody>
                      </table>
        
        </div>
    </div>
</div>
{% endblock content %}