{% extends 'baseacara.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/transaksi.css' %}" rel="stylesheet"></link>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1>Riwayat Transaksi</h1>
            <br>
                <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">No</th>
                            <th scope="col">Tanggal</th>
                            <th scope="col">Jenis Transaksi</th>
                            <th scope="col">Nominal</th>
                          </tr>
                        </thead>
						
						<tbody>
						{% for i in transaksi %}
						<tr>
							
							<td>{{i.0}}</th>
							<td>{{i.1}}</td>
							<td>{{i.2}}</td>
							<td>{{i.3}}</td>
                         {% endfor %}
						</tr>
                        </tbody>
                </table>
        </div>
    </div>
</div>
  {% endblock %}