{% extends 'basesepeda.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>

<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Merk</th>
        <th scope="col">Jenis</th>
        <th scope="col">Stasiun</th>
        <th scope="col">Status</th>
        <th scope="col">Penyumbang</th>
        <th scope="col">Action(Admin Only)</th>
        <th scope="col">Action(Anggota Only)</th>
      </tr>
    </thead>
    <tbody>
      {%for i in sepeda%}
      <tr>
          <th scope="row">{{i.0}}</th>
          <th>{{i.1}}</th>
          <td>{{i.2}}</td>
          <td>{{i.4}}</td>
          <td>{{i.3}}</td>
          <td>{{i.5}}</td>
        <td>
            <button type="button" class="btn btn-primary disabled" >Update</button> OR <button type="button" class="btn btn-primary disabled" >Delete</button>
        </td>
        <td>
                <button type="button" class="btn btn-primary disabled" >Pinjam</button>
            </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>



{% endblock content %}