{% extends 'basesepeda.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>

<div class="col-lg-6">

    <div class="form">
      
      <h4>Daftarkan Sepeda</h4>
      <form action="" method="post" role="form" class="contactForm">
        <div class="form-group">
          <input type="text" name="name" class="form-control" id="name" placeholder="Merk" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
          <div class="validation"></div>
        </div>
        <div class="form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Jenis" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
            <div class="validation"></div>
          </div>
        <label for="country">Status</label>
          <select id="country" name="country">
            <option value="iya">Tersedia</option>
            <option value="tidak">Tidak Tersedia</option>
          </select>
        <label for="country">Stasiun</label>
          <select id="country" name="country">
              <option value="volvo">pocin</option>
              <option value="saab">kutek</option>
              <option value="opel">fh</option>
              <option value="audi">balairung</option>
            </select>
        <label for="country">Penyumbang</label>
          <select id="country" name="country">
            <option value="iya">idris</option>
            <option value="tidak">yoga</option>
          </select>

        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>

        <div class="text-center"><a type="submit" title="Send Message" href ="\sepeda\list">Send Message</a></div>
      </form>
    </div>


    

    {% endblock content %}