{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tepe</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'bootstrap/Rapid/img/title.jpg' %}" rel="icon">
  <link href="{% static 'bootstrap/Rapid/img/title.jpg' %}" rel="apple-touch-icon">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'bootstrap/Rapid/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'bootstrap/Rapid/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap/Rapid/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap/Rapid/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap/Rapid/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap/Rapid/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">


  <!-- Main Stylesheet File -->
  <link href="{% static 'bootstrap/Rapid/css/style.css' %}" rel="stylesheet">


  <!-- =======================================================
    Theme Name: Rapid
    Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header">

    <div id="topbar">
      <div class="container">
        <div class="social-links">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="/" class="scrollto"><span>Bike Sharing</span></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/#about">About Us</a></li>
          <li><a href="{% url 'user:login' %}">Login</a></li>
          <li><a href="/#team">Team</a></li>
          <li class="drop-down"><a href="/#services">Kegiatan Bike Sharing</a>
            <ul>
              <li class="drop-down"><a href="#">Transaksi</a>
                <ul>
                  <li><a href="{% url 'transaksi:topup' %}">Top Up</a></li>
                  <li><a href="{% url 'transaksi:laporan' %}">Daftar laporan</a></li>
        				  <li><a href="{% url 'transaksi:transaksi' %}">Riwayat Transaksi</a></li>
                </ul>
              </li>
              <li class="drop-down"><a href="#">Acara</a>
                <ul>
                  <li><a href="/acara/create">Create</a></li>
                  <li><a href="/acara/list">List of event</a></li>
                </ul>
              </li>
              <li class="drop-down"><a href="#">Penugasan</a>
                <ul>
                  <li><a href="/penugasan/create">Create</a></li>
                  <li><a href="/penugasan/list">List of duties</a></li>
                </ul>
              </li>
              <li class="drop-down"><a href="#">Sepeda</a>
                <ul>
                  <li><a href="/sepeda/create">Create</a></li>
                  <li><a href="/sepeda/list">List of bike</a></li>
                </ul>
              </li>
              <li class="drop-down"><a href="#">Stasiun</a>
                <ul>
                  <li><a href="/stasiun/create">Create</a></li>
                  <li><a href="/stasiun/list">List of station</a></li>
                </ul>
              </li>
              <li class="drop-down"><a href="#">Voucher</a>
                <ul>
                  <li><a href="/voucher/add">Add voucher</a></li>
                  <li><a href="/voucher/update">Update voucher</a></li>
                  <li><a href="/voucher/dafcer">List voucher</a></li>
                </ul>
              </li>
              <li class="drop-down"><a href="#">Peminjaman</a>
                <ul>
                  <li><a href="/voucher/pinjam">Peminjaman</a></li>
                  <li><a href="/voucher/dafjem">List of peminjaman</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/#footer">Contact Us</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h2>Bike Sharing Solutions<br>for Your <span>Everyday Bike Services!</span></h2>
          <div>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
  
        <div class="col-md-6 intro-img order-md-last order-first">
          <!-- <img src="img/intro-img.svg" alt="" class="img-fluid"> -->
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img src="{% static 'bootstrap/Rapid/img/about-image.jpg' %}" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>About Us</h2>
              <h3>Bike Sharing</h3>
              <p>Bike sharing had been existed because the demand of database courses.</p>
              <p>In this course we learn elaborate steps to manage and create database till we reach this point, to create a group project</p>
              <ul>
                <li><i class="ion-android-checkmark-circle"></i> Database is fun</li>
                <li><i class="ion-android-checkmark-circle"></i> No stress at all</li>
                <li><i class="ion-android-checkmark-circle"></i> We all love bikesharing</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section><!-- #about -->

    
    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Login Here</h3>
            <p class="cta-text"> It will redirect to a new page, get ready!</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Login</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Kegiatan Bike Sharing</h3>
          <p>Elaborate services bike sharing had</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="acara/list">Acara</a></h4>
              <p class="description">See all the amazing event that will be happening!</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="penugasan/list">Penugasan</a></h4>
              <p class="description">See all the hardworking man/woman work on the station (Admin and Petugas only)</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="sepeda/list">Sepeda</a></h4>
              <p class="description">See all the cool and strong bike here!</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="stasiun/list">Stasiun</a></h4>
              <p class="description">See all the breath taking station across the universe!</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline" style="color: #2282ff;"></i></div>
              <h4 class="title"><a href="">Voucher</a></h4>
              <p class="description">See all the revolutionary voucher avaiable!</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #ecebff;"><i class="ion-ios-clock-outline" style="color: #8660fe;"></i></div>
              <h4 class="title"><a href="">Peminjaman</a></h4>
              <p class="description">Yep just list of peminjaman</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container-fluid">
        
        <header class="section-header">
          <h3>Why choose us?</h3>
          <p>I dont know</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <div class="why-us-img">
              <img src="{% static 'bootstrap/Rapid/img/why-us.jpg' %}" alt="" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-6">
            <div class="why-us-content">
              <h2>Some of the famous quotes from biker around the world</h2>
              <p>
                “When your legs scream stop and your lungs are bursting, that’s when it starts. That’s the hurt locker. Winners love it in there” – Idris Yoga Pratama
              </p>

              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-diamond" style="color: #f058dc;"></i>
                <h4>Idris</h4>
                <p>“You can’t get good by staying home. If you want to get fast, you have to go where the fast guys are” </p>
              </div>

              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-object-group" style="color: #ffb774;"></i>
                <h4>Yoga</h4>
                <p>“Cyclists see considerably more of this beautiful world than any other class of citizens. A good bicycle, well applied, will cure most ills this flesh is heir to”</p>
              </div>
              
              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-language" style="color: #589af1;"></i>
                <h4>Pratama</h4>
                <p>“Give a man a fish and feed him for a day. Teach a man to fish and feed him for a lifetime. Teach a man to cycle and he will realize fishing is stupid and boring”</p>
              </div>
              
            </div>

          </div>

        </div>

      </div>

      <div class="container">
        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">Bang Basdat</span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">Database course</span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">More than 4 sks</span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">Infinity</span>
            <p>Hard Workers</p>
          </div>
  
        </div>

      </div>
    </section>

    

    <!--==========================
      Team Section
    ============================-->
    <section id="team" class="section-bg">
      <div class="container">
        <div class="section-header">
          <h3>Team</h3>
          <p>Our amazing team</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="{% static 'bootstrap/Rapid/img/team-1.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Aditya Nanda</h4>
                  <span>Thor</span>
                  <div class="social">
                    <a href="https://twitter.com/tebakpentilil"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/adityanandaaa/"><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href="https://www.linkedin.com/in/aditya-nanda-tri-prakoso-b16512172/"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="{% static 'bootstrap/Rapid/img/team-2.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Andri Ramadhan</h4>
                  <span>Product Manager</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="{% static 'bootstrap/Rapid/img/team-4.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Meiska Kurniawati</h4>
                  <span>CTO</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="{% static 'bootstrap/Rapid/img/team-3.jpg' %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Rhendy Rivaldo</h4>
                  <span>Accountant</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

                <div class="col-sm-6">

                  <div class="footer-info">
                    <h3>Bike Sharing</h3>
                    <p>Blablablaba</p>
                  </div>

                  

                </div>

                <div class="col-sm-6">
                  <div class="footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="/">About us</a></li>
                      <li><a href="/">Kegiatan Bike Sharing</a></li>
                      
                    </ul>
                  </div>

                  <div class="footer-links">
                    <h4>Contact Us</h4>
                    <p>
                      Fasilkom UI
                    </p>
                  </div>

                  <div class="social-links">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  </div>

                </div>

            </div>

          </div>

        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Beloved Team</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
        -->
        Designed with love
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  
  <script href="{% static 'bootstrap/Rapid/lib/jquery/jquery.min.js' %}"></script>
  <script href="{% static 'bootstrap/Rapid/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script href="{% static 'bootstrap/Rapid/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script href="{% static 'bootstrap/Rapid/lib/easing/easing.min.js' %}"></script>
  <script href="{% static 'bootstrap/Rapid/lib/mobile-nav/mobile-nav.js' %}"></script>
  <script href="{% static 'bootstrap/Rapid/lib/wow/wow.min.js' %}"></script>
  <script href="{% static 'bootstrap/Rapid/lib/waypoints/waypoints.min.js' %}"></script>
  <script href="{% static 'bootstrap/Rapid/lib/counterup/counterup.min.js' %}"></script>
  <script href="{% static 'bootstrap/Rapid/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script href="{% static 'bootstrap/Rapid/lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script href="{% static 'bootstrap/Rapid/lib/lightbox/js/lightbox.min.js' %}"></script>

  <!-- Contact Form JavaScript File -->
  <script href="{% static 'bootstrap/Rapid/contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script href="{% static 'bootstrap/Rapid/js/main.js' %}"></script>

</body>
</html>
